
/* Large Layout: 1200px. */
@media only screen and (min-width: 1200px){  
  
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .about-sec .right-text-area {padding-left: 197px;}
  .about-sec .about-block .about-mockup-bg{padding: 0 134px 0 8%;}
  .about-fact-sec .left-content-area {padding: 0 0 0 9%;}
  .about-fact-sec .left-content-area::before{left: 26px;}
  .about-fact-sec .right-content-area{padding: 0px 0 0 19%;}
  .testimonials-service .service-right-area{padding: 128px 158px 79px 80px;}
  .sponsor-video-sec .left-content-are {padding-right: 180px;}
  .services-tabs .nav.nav-tabs{top: 106px;}
}
@media only screen and (min-width: 1400px) and (max-width: 1440px) {
  .about-fact-sec .left-content-area {padding: 0 0 0 15%;}
  .about-fact-sec .left-content-area::before {left: 51px;}
  .about-fact-sec .right-content-area .factcounter .single-item {padding: 30px 20px;}
  /*.classic-slider .tp-bgimg.defaultimg {background-size: cover !important;}*/
  .testimonials-service .service-right-area{padding: 132px 120px 19px 80px;}
  .about-sec .right-text-area {padding-left: 110px;}
  .sponsor-video-sec .left-content-are {padding-right: 103px;}
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .about-sec .right-text-area {padding-left: 90px;}
  .about-sec .about-block .about-mockup-bg{padding: 0 45px 0 11%;}
  .about-fact-sec .right-content-area .factcounter .single-item {padding: 30px 15px;}
  .about-fact-sec .left-content-area {padding: 0 0 0 10%;}
  .about-fact-sec .left-content-area::before {left: 19px;}
  /*.classic-slider .tp-bgimg.defaultimg {background-size: cover !important;}*/
  .testimonials-service .service-right-area {padding: 132px 100px 45px 80px;}
  .tp-rightarrow.tparrows.metis {margin-right: -50px !important;}
  .tp-leftarrow.tparrows.metis {margin-left: -50px !important;}
  .testimonials-service .service-right-area {padding: 132px 35px 45px 50px;}
  .testimonials-service .sec-title h2{text-align: center;}
  .sponsor-video-sec .right-content-area .img-wrapper {padding: 140px 0 130px;}
  .sponsor-video-sec .left-content-are {padding-right: 55px;}
  .services-fact .left-content-area .sec-title h2{font-size: 30px;}
  .testimonials-slider .bx-wrapper .bx-controls-direction{margin-left: 279px;}
  .animtion-box-8{left: 445px;}
  .service-form .right-content-area .img-wrapper {padding: 0;}
  .service-form .right-content-area .img-wrapper img{width: 100%;}


}
@media only screen and (min-width: 1200px) and (max-width: 1280px){
  .about-sec .about-block .about-mockup-bg {padding: 0 0 0 1%;}
  .about-sec .right-text-area {padding-left: 130px;}
  .about-fact-sec .left-content-area {padding: 0 0 0 4%; position: relative; left: 20px; }
  .about-fact-sec .left-content-area::before {left: -16px;}
  .about-fact-sec .right-content-area {padding: 0 0 0 13%; }

}
@media only screen and (min-width: 1199px) and (max-width: 1200px) {
  .about-sec .right-text-area {padding-left: 80px;}
  .about-fact-sec .left-content-area .img-wrapper {
    width: 454px;
    height: 490px;
    -webkit-mask-size: 454px 490px;
    mask-size: 454px 490px;
  }
  .about-fact-sec .right-content-area .factcounter .single-item {padding: 30px 10px;}

}

/* Medium screen  */ 
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*** 
  =============================================
      Mainmenu Area style
  =============================================
  ***/      
  .main-menu .navigation > li:hover > ul {
    left: 15px;
  }    
  .main-menu .navigation li a {padding: 10px 9px;}
  .mainmenu-area .logo {padding-top: 8px;}
  .main-slider h1{font-size: 54px;}
  .animtion-box-3{margin-left: 147px;}
  .animtion-box-4 {margin-left: 300px; margin-top: 132px;}
  .about-sec .right-text-area {padding-left: 40px;}
  .about-fact-sec .left-content-area .img-wrapper {
    width: 373px;
    height: 408px;
    -webkit-mask-size: 373px 408px;
    mask-size: 373px 408px;
  }
  .about-fact-sec .left-content-area::before {
    left: -11px;
    width: 426px;
    height: 568px;
    background-size: 100%;
    top: -32px;
  }
  .main-slider .right-image {margin-top: -125px; margin-left: -135px;}
  .about-fact-sec .right-content-area {padding: 0 0 0 8%;}
  .about-sec .about-block .about-mockup-bg{padding: 0px 20px 0 0%;}
  .about-fact-sec .left-content-area {padding: 0 0 0 5%;}
  .single-testimonials {margin-left: 328px;}
  #testimonials-slider-pager a.pager-item:nth-child(2) {left: 28%; top: 12%;}
  /*.classic-slider .tp-bgimg.defaultimg {background-size: cover !important;}*/
  .classic-slider h1 {margin-left: 107px;}
  .classic-slider .text {margin-left: 115px;}
  .classic-slider .btn-slider {margin-left: 112px !important;}
  .testimonials-service .sec-title h2 {color: #fff; text-align: center;}
  .testimonials-service .service-right-area {padding: 126px 70px 78px;margin-left: 0;}
  .testimonials-service .item-holder {padding: 86px 70px 138px; margin-right: 0;}
  .factcounter-area .left-content-area h3 {padding: 0 10px 0 0;}
  .factcounter-area .left-content-area h3::before{right: -3px;}
  .team-area .team-block .img-wrapper:hover .icon {bottom: 20%; opacity: 1;}
  .about-fact-sec .right-content-area .factcounter .single-item {padding: 30px 6px;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: 0;}
  .vidoe-form-sec .left-content-area .img-wrapper {
    width: 449px;
    height: 475px;
    -webkit-mask-size: 449px 475px;
    mask-size: 449px 475px;
  }
  .vidoe-form-sec .left-content-area::before {
    width: 507px;
    height: 584px;
    background-size: 100%;
  }
  .services-sec.style-four .service-bloc{padding: 40px 20px;}
  .services-sec .service-bloc{padding: 40px 20px;}
  .team-area.style-two .team-block {
    margin-top: 55px; padding-right: 0; text-align: center;margin-bottom: 30px;}
  .team-area.style-two .team-block .img-wrapper {float: none; margin: 0 auto;}
  .team-area.style-two .text-block {margin-top: 62px;}
  .sponsor-video-sec .left-content-are {padding-right: 68px;}
  .sponsor-video-sec .right-content-area {margin-left: 0;}
  .sponsor-video-sec .right-content-area .img-wrapper {padding: 110px 0 100px; margin-top: 76px;}
  .modren-slider .metis.tparrows{display: none;}
  .mainmenu-area.style-three .search-box-area {right: 211px;}
  .about-sec.style-four .left-content-area .about-services{padding-right: 0;}
  .team-area.style-three .team-block .img-wrapper {width: 214px;}
  .team-details .text-block{margin-top: 0;}
  .services-fact .left-content-area{padding-left: 0;}
  .services-fact .fact-sec{margin-top: 50px;}
  .author-content li{margin-right: 8px;}
  .author-content li::before{left: -8px;}
  .tags-area .tags-blog a{padding: 14px;}
  .single-footer-widget .recent-post-footer .text-area li{margin-right: 1px;}
  .blog-detail .tex-holder .left-content-area {padding-right: 0; width: 100%; margin-bottom: 35px; }
  .contact-page .contact-block{padding: 40px 20px;}
  .services-tabs .nav.nav-tabs{top: 95px;}
  .services-tabs .nav-tabs > li > a{padding: 17px 25px;}
  .blog-news .blog-block .text-area{padding: 30px 20px;}
  .animtion-box-8{top: 4px;}
  .animtion-box-12{bottom: 6px;}
}
@media only screen and (max-width: 1024px){
  .right-content-area .factcounter .single-item h5 {font-size: 18px;}
  .service-form .right-content-area .img-wrapper {padding: 0;}
  .service-form .right-content-area .img-wrapper img{width: 100%;}
  .sponsor-video-sec .left-content-are {padding-right: 0px;}
  .tab-content .left-content-area .img-wrapper {padding-right: 0px;}
  .about-sec.style-four .about-block .about-mockup-bg{padding:0;}
  .about-sec.style-five .left-content-area .about-services{padding:0;}
}

/* Tablet Layout: 768px. */
@media only screen and (max-width: 991px) {
  .mainmenu-area {padding: 15px 0;}
  .main-menu {
     float: none; 
    position: relative;
     right: 0px; 
  }
  .mainmenu-area .logo {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .main-menu .navigation li a{
    color: #000;
    padding: 10px 17px;
  }
  .search-box-area .search-toggle i::before{
    color: #000;
  }
  .main-slider{margin-top: -120px;}
  .main-slider h1{font-size: 50px;}
  .animtion-box-3{margin-left: 147px;}
  .animtion-box-4 {margin-left: 300px; margin-top: 132px;}
  .about-sec .about-block {text-align: center;margin-bottom: 25px;}
  .about-sec .about-block .about-mockup-bg {padding: 0}
  .about-fact-sec .left-content-area {padding: 0; margin-bottom: 30px;}
  .about-fact-sec .left-content-area .img-wrapper {margin-left: 20%; } 
  .about-fact-sec .left-content-area::before {left: 17%; display: block;}
  .single-testimonials {float: left; width: 100%; margin-left: 55px;padding-top: 137px;}
  .single-testimonials .author-image {width: 150px;}
  .blog-news .blog-block .text-area{padding: 30px 28px;}
  .single-footer-widget {margin-bottom: 30px; float: left; width: 100%;}
  .right-image img {width: 100% !important; height: 100% !important;}
  .right-image {width: 476px;margin-top: -125px;}
  .about-sec .right-text-area{padding-left: 254px;margin-top: 25px;}
  .about-fact-sec .right-content-area{padding: 0 0 0 27%;}
  .testimonials-slider h2 {
    position: absolute; right: auto; color: #00000a; margin-bottom: 0; left: 22px; top: -76px;}
  .mainmenu-area.style-two .search-box-area {right: 25px; left: auto;}
  .mainmenu-area.style-two .get-btn {top: -99px;}
  .header-contact-info ul li {padding-left: 50px; margin: 15px 0 15px 50px; padding-right: 50px; }
  .header-area .logo {padding-top: 0; text-align: center;}
  .mainmenu-area.style-two .main-menu .navigation li a{color: #fff;}
  .mainmenu-area.style-two .main-menu .navigation > li > ul li a{color: #000;}
  /*.classic-slider .tp-bgimg.defaultimg {background-size: cover !important;}*/
  .classic-slider h1 {margin-left: 107px;}
  .classic-slider .text {margin-left: 115px;}
  .classic-slider .btn-slider {margin-left: 112px !important;}
  .mainmenu-area.style-two.stick.sticky .main-menu .navigation li ul li a{color: #000;}
  .factcounter-area .left-content-area h3 {padding: 0;}
  .factcounter-area .left-content-area h3:before{display: none;}
  .right-content-area {position: relative; width: 100%; padding-top: 45px;}
  .testimonials-service .item-holder{padding: 86px 70px 138px; margin-right: 0;}
  .testimonials-service .service-right-area {padding: 126px 70px 78px; margin-left: 0;}
  .testimonials-service .sec-title h2{text-align: center;}
  .mainmenu-area.style-three .search-box-area {right: 230px; top: 5px;}
  .modren-slider .metis.tparrows{display: none;}
  .header-contact-info ul li:nth-child(2)::before{display: none;}
  .header-area.style-two .header-contact-info ul li:nth-child(2):before{display: none;}
  .header-area.style-two .header-contact-info ul li:nth-child(3):before{display: block;}
  .team-details .text-block{margin-bottom: 60px;margin-top: 25px;}
  .services-sec.style-five .service-bloc {padding: 40px 20px;}
  .services-fact .img-wrapper{margin-left: 0px; margin-top: 30px;}
  .services-fact .img-wrapper img{width: 100%;}
  .services-fact .fact-sec {margin-top: 40px;}
  .services-fact .left-content-area{padding-right: 0;}
  .right-side-bar {position: relative; width: 100%; margin-top: 80px;}
  .blog-detail.style-three .right-side-bar {margin-top: 0px; float:left; margin-bottom: 76px;}
  .right-side-bar .search-box button i{right: 9px;}
  .blog-detail .tex-holder .right-content-area{margin-top: 0px;}
  .blog-detail.style-three .news-block {position: relative; width: 100%; margin-top: 50px;}
  .blog-detail.style-two .news-block {padding: 0;}
  .map-cont{margin-bottom: 40px;}
  .project-detail .project-info ul li{margin-right: 10px;margin-top: 30px;}
  .project-detail .text-area h6{font-size: 16px;}
  .services-tabs .nav.nav-tabs {top: 2226px;}
  .faqs .thm-btn.bg-clr1 {float: left; text-align: center; width: 100%; position: relative;}
  .sponsor-video-sec .left-content-are{padding-right: 195px;}
  .about-sec.style-four .about-block .about-mockup-bg {padding: 0;}
  .about-sec.style-four .right-text-are {margin-top: 50px;}
  .about-project .left-content-area .img-wrapper{padding: 0;}
  .about-project .right-content-area {padding-top: 50px;}
  .vidoe-form-sec .right-content-area{padding-top: 50px;}
  .our-project.style-two .project-filter li{margin: 0 12px;}
  .about-sec.style-five .left-content-area {margin-bottom: 40px;}
  .animtion-box-8{top: 86px;left: 220px;}
  .animtion-box-9{right: 100px;}
  .testimonials-sec{padding: 213px 0 140px;}
  .single-testimonials {margin-left: 0; padding-top: 180px;}
  .testmonial-block{padding-left: 0px;}
  #testimonials-slider-pager {margin-top: 80px;}
  #testimonials-slider-pager a.pager-item:nth-child(4) {top: 39%;}
  #testimonials-slider-pager a.pager-item:nth-child(5) {top: 11%;}
  #testimonials-slider-pager a.pager-item:nth-child(3) {left: 37%;top: 48%;}
  #testimonials-slider-pager a.pager-item:nth-child(2) {left: 65%; top: 17%;}
  .single-testimonials .author-content {width: 100%;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: -349px;}
  .about-fact-sec{padding: 70px 0 140px;}
  .about-sec.style-five {padding: 135px 0 113px;}
  .team-area.style-two {padding: 132px 0 100px;}
  .sponsor-video-sec {padding: 128px 0 140px;}

}
 
@media only screen and (min-width: 770px) and (max-width: 990px){
}
@media only screen and (max-width: 768px){
  .search-box-area{right: 42px;}
  .about-sec .right-text-area{padding: 0 15px;}
  .about-fact-sec .right-content-area {padding: 0 15px; padding-top: 25px;}
  .modren-slider figure img {width: 250px !important; height: 250px !important;}
  .sponsor-video-sec .left-content-are {padding-right: 0;}
  .right-image{margin-top: -76px;}
  .about-sec.style-three .right-text-are{padding: 0 ; }
  .about-sec.style-four .right-text-are {padding: 0 15px;}
  .about-sec.style-four .about-content .about-list li::before{left: 26px;}
  .about-project .left-content-area .img-wrapper{padding: 0;padding-left: 15px;}
  .about-project .right-content-area {padding-top: 50px;padding-left: 15px;}
  .tab-content .left-content-area .img-wrapper{padding: 0;}
  .vidoe-form-sec .left-content-area .img-wrapper{margin-left: 25px;}
  .vidoe-form-sec .left-content-area::before{left: -8px;}
  .animtion-box-8 {top: 75px; left: 120px;}
  .animtion-box-6{bottom: 351px;}
  .animtion-box-5{bottom: 290px;left: -18px;}
  .services-tabs .nav.nav-tabs {top: 2212px;}
  .about-sec .about-block{padding: 0;}
  .about-fact-sec .left-content-area .img-wrapper {margin-left: 16%;}
  .about-fact-sec .left-content-area::before {left: 11%; display: block;}
  .our-project.style-two .post-filter li{margin: 0 12px;}
}

/* Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
    
      
  /*** 
  =============================================
      Main mneu Area style
  =============================================
  ***/ 

  .mainmenu-area .logo{
    position: relative;
    float: none;
    text-align: center;
  }
  .get-btn {right: 18px; top: 6px; z-index: 9;}
  .mainmenu-area.stricky-fixed{
    position: static;
    background: none;
  }
  .header-area{
    padding: 30px 0px 40px;
  }
  .mainmenu-area {
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 999999;
  } 
  .mainmenu-area.stricky-fixed{
    position: static;
    background: none;
  }        
  .mainmenu-area .mainmenu-bg {
    background: transparent;
  }
  .main-menu .navigation > li > ul{
    -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  }
  .main-menu {
    display: inline-block;
    float: left !important;
    padding-bottom: 0;
    padding-top: 0;
    z-index: 5;
    width: 100%;
    left: 0;
  }
  .main-menu .navigation li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }   
  .main-menu .collapse {
    border: 1px solid #fff !important;
    border-radius: 0px !important;
    float: none;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    padding: 0;
    width: 100%;
  }    
  .main-menu .collapse.in, 
  .main-menu .collapsing {
    border: 1px solid #fff;
    border-radius: 0px;
    margin: 0 0 20px;
    padding: 0;
    border-top: none;
  }    
  .main-menu .navbar-header{
    position:relative;
    float:none;
    display:block;
    text-align:right;
    width:100%;
    padding:15px 0px;
    right:0px;
    z-index:12;
  }        
  .main-menu .navbar-header .navbar-toggle {
      border: 2px solid #323232;
      display: inline-block;
      float: left;
      margin: 0;
      z-index: 7;
      width: 45px;
      height: 40px;
      border-radius: 0;
      transition: all 0.3s ease;
  }  
  .main-menu .navbar-header .navbar-toggle:hover{
    border: 2px solid #159eee;
  }
  .main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #323232 none repeat scroll 0 0;
    font-weight: 700;
  }  
  .main-menu .navbar-header .navbar-toggle:hover .icon-bar {
    background: #159eee none repeat scroll 0 0;
    font-weight: 700;
  }  
  .main-menu .navbar-collapse > .navigation {
    background: #fff none repeat scroll 0 0;
    float: none !important;
    margin: 0 !important;
    width: 100% !important;
    border-bottom: 1px solid #fff;
  }      
  .main-menu .navbar-collapse > .navigation > li{
    margin:0px !important;
    float:none !important;
    width:100%;
    padding: 0;
  }  
  .main-menu .navigation li.dropdown > a:after{
    display:none !important;
  } 
  .main-menu .navbar-collapse > .navigation > li > a{
    padding:10px 10px !important;
  }    

  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul{
    position:relative;
    border:none;
    float:none;
    visibility:visible;
    opacity:1;
    display:none;
    margin:0px;
    left:auto !important;
    right:auto !important;
    top: auto!important;
    width:100%;
    background: none;
    border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    transition:none !important;
    -webkit-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    -moz-transition:none !important;
  }    
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul{
    border-top: 0px solid rgba(255,255,255,1) !important; 
  }
      
  .main-menu .navbar-collapse > .navigation > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
    border-top: 1px solid #fff !important;
    opacity:1 !important;
    top:0px !important;
    left:0px !important;
    visibility:visible !important;
  }
  .main-menu .navbar-collapse > .navigation > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
    padding:10px 10px !important;
    line-height:22px;
    color:#ffffff;
    background:#323232;
    text-align:left;
  } 
  .main-menu .navbar-collapse > .navigation > li > ul > li > a{
    padding:10px 20px !important;
    line-height:22px;
    color:#ffffff;
    background:#323232;
    text-align:left;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border:none; 
  }     
  .main-menu .navbar-collapse > .navigation > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li.current > a{
    color:#ffffff !important;
  }        
  .main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
    display:block;
  }
  .main-menu .navigation > li > ul > li > ul > li a{
    border-bottom: none;
  }
  .main-menu .navigation > li > ul > li > a::before{
    background-color: #fff;
  }
  .mainmenu-area.stick.sticky .search-box-area .search-toggle i::before{
    color: #000;
  }
  .mainmenu-area.style-three .main-menu .navigation li a{color: #fff;}
  .mainmenu-area.stick.sticky .main-menu .navigation li a{color: #fff;
  }
  .search-box-area {right: 9px; z-index: 999; position: absolute;top: 20px;}
  .single-testimonials .author-image,
  .single-testimonials .author-content { text-align: left;}
  .main-slider h1 {font-size: 44px; line-height: 54px;}
  .right-image {width: 332px;margin-left: 77px;}
  .single-testimonials{padding-top: 0;margin-left: 0;}
  .testimonials-slider h2 {position: relative; right: auto; left: 0; top: -16px; float: left; margin: 0;}
  .mainmenu-area.style-two .main-menu .navbar-header .navbar-toggle {border: 2px solid #fff;}
  .mainmenu-area.style-two .main-menu .navbar-header .navbar-toggle .icon-bar{background: #fff;}
  .mainmenu-area.style-two .search-box-area {right: 15px; left: auto; top: 20px;} 
  .mainmenu-area.style-two .main-menu{padding: 0px 15px;}
  .mainmenu-area.style-two .main-menu .navigation > li::after,
  .mainmenu-area.style-two .main-menu .navigation > li::before{display: none;}
  .mainmenu-area.style-two .main-menu .navigation li ul li a,
  .mainmenu-area.style-two.stick.sticky .main-menu .navigation li ul li a{color: #fff;}
  .classic-slider h1 {font-size: 46px; line-height: 50px;margin-top: 25px;}
  .team-area .team-block .img-wrapper:hover .icon {bottom: 50%;}
  .right-text-are .services-about .service-block {margin-bottom: 30px;}
  .mainmenu-area.style-three .search-box-area {right: 15px; top: 20px;}
  .team-area.style-two .team-block {
    margin-top: 0; padding-right: 0; margin-bottom: 115px; padding-left: 34px; }
  .sponsor-video-sec .right-content-area {margin-left: 0; float: left;}
  .sponsor-video-sec .right-content-area .img-wrapper{padding: 70px 0;}
  .sponsor-video-sec .left-content-are {float: left;padding-left: 30px;}
  .animtion-box-17{left: 282px;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: -352px;}
  .contact--form-area .form-sec {margin: 0 27px;}
  .map-cont {margin: 0 0 40px 15px;}
  .main-slider {margin-top: 0;}
  .vidoe-form-sec .left-content-area::before{left: 7px;}
  .vidoe-form-sec .left-content-area .img-wrapper{margin-left: 40px;}
  .about-sec.style-two .about-block .about-mockup-bg {padding: 0;}
  .tab-content .left-content-area {padding: 0 15px;}
  .tab-content .right-content-area {padding: 25px 15px 0;}
  .services-tabs .nav.nav-tabs {top: 2197px; left: 28px; }
  .factcounter .single-item {margin-bottom: 30px;}
  .account-btn-sec {background: #323232; text-align: left;}
  .account-btn-sec a{color: #fff; line-height: 35px}
  .account-btn-sec a i{color: #fff;}
  .top-bar-area .account-btn-sec {background: none; text-align: left;}
  .top-bar-area .account-btn-sec a{color: #323232; line-height: 35px}
  .top-bar-area .account-btn-sec a i{color: #323232;}
  .factcounter-area{padding: 127px 0 32px;}
  .testimonials-sec {padding: 144px 0 140px;}
  .btn-app {text-align: center;}

}
@media only screen and (min-width: 600px) and (max-width: 634px) { 
  .main-slider .text {margin-top: 22px;}
  .main-slider a {margin-top: 40px !important;}
  .about-fact-sec .left-content-area .img-wrapper {margin-left: 0;}
  .about-fact-sec .left-content-area::before {left: -19px;}
  .single-testimonials .author-image {width: 100%;}
  .header-contact-info ul li {padding-left: 50px; margin: 15px 0 15px 21px; padding-right: 21px;}
  .testimonials-service .item-holder, .testimonials-service .service-right-area {padding: 70px 35px;}
  .team-area .team-block .img-wrapper:hover .icon {bottom: 47%;}
  .modren-slider figure {width: 200px; height: 350px; margin-left: 230px !important;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: -19px; text-align: left;}
  .right-content-area .progress-bar {position: relative; margin: 4px 70px 50px 0;}
  .blog-detail .tex-holder .left-content-area {padding-right: 0; width: 100%; margin-bottom: 35px; }
  .blog-detail.style-two .comment-area, 
  .blog-detail.style-two .comment-form {padding: 0px 30px;}
  .services-tabs .nav.nav-tabs {top: 1915px;}
  .right-image{margin-top:0;width: 332px; margin-left: 0;} 
  .modren-slider figure img {width: 200px !important; height: 200px !important;}
  .about-sec.style-five .left-content-area .about-services{padding-right: 0px;}
  .btn-app {text-align: center;}
}
@media only screen and (max-width: 600px){
  .about-sec .right-text-area {padding: 0;}
  .header-area.style-two .header-contact-info ul li{padding-left: 30px; margin-left: 30px;}
  .animtion-box-9 {right: 0px; top: 28px;}
  .classic-slider .text {margin-top: 25px;font-size: 15px;}
}
@media only screen and (max-width: 480px) {
  .main-slider h1 {font-size: 30px; line-height: 44px;margin-top: 0px;} 
  .main-slider .text{    margin-top: -10px;}
  .rev_slider a {top: -23px !important;}
  .animtion-box-4 {margin-left: 327px; margin-top: 57px;}
  .animtion-box-1{margin-left: 162px; margin-top: 25px;}
  .animtion-box-3 {margin-left: 147px; margin-top: 42px;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: -372px;}
  .right-image {display: none;}
  .about-sec .right-text-area {padding-left: 0;}
  .sec-title h2{font-size: 30px; line-height: 45px;}
  .about-fact-sec .left-content-area .img-wrapper {margin-left: 0;}
  .about-fact-sec .left-content-area .img-wrapper {
    width: 450px;
    height: 490px;
    -webkit-mask-size: 450px 490px;
    mask-size: 450px 490px;
  }
  .about-fact-sec .left-content-area::before {display: none;}
  .about-fact-sec .right-content-area .factcounter .single-item {margin-bottom: 30px;}
  .single-testimonials{margin-left: 0;}
  h2 {font-size: 30px; line-height: 45px;}
  .single-testimonials .author-image {width: 100%;}
  .mainmenu-area.style-two .get-btn,
  .header-contact-info ul li::before{display: none;}
  .mainmenu-area.style-two .main-menu {padding: 0 15px;}
  .mainmenu-area.style-two .search-box-area {right: 15px; top: 23px;}
  .classic-slider h1, .classic-slider .text, .classic-slider .btn-slider{margin-left: 0 !important;}
  .mainmenu-area.style-two {position: relative; background: #159eee;}
  .header-area {padding: 30px 0px 20px;}
  .vidoe-form-sec .left-content-area .img-wrapper {
    width: 443px;
    height: 490px;
    -webkit-mask-size: 443px 490px;
    mask-size: 443px 490px;
  }
  .vidoe-form-sec .left-content-area::before {display: none;}
  .testimonials-service .item-holder {padding: 27px 20px 80px;}
  .testimonials-service .service-right-area{padding: 68px 20px 24px;}
  .team-area .team-block .img-wrapper:hover .icon {bottom: 43%;}
  .about-sec.style-three .btn-app a{margin-bottom: 15px;}
  .about-sec.style-three .services-about {margin-bottom: 30px;}
  .testimonials-service .testmonial-carousel .single-item .text-holder{padding: 59px 6px 19px;}
  .pricetable-title a {margin-bottom: 15px;}
  .modren-slider figure{display: none;}
  .team-area.style-two .team-block{margin: 0 auto; text-align: center; padding:0; }
  .team-area.style-two .text-block{float: left;margin-bottom: 62px; text-align: center;padding-left: 0;} 
  .team-area.style-two .team-block .img-wrapper{margin-left: 28%;}
  .about-sec.style-four .left-content-area .about-services{padding-right: 0px;}
  .animtion-box-17 {left: 212px;}
  .team-area.style-three .team-block .img-wrapper {
    margin:0;display: block; width: 100%; position: relative; float: left; }
  .team-area.style-three .team-block .text-block {width: 100%;display: block; float: left;padding: 15px;}
  .right-content-area .progress-bar {margin: 10px 10px 45px 15px;}
  .blog-detail .tex-holder .left-content-area {padding-right: 0; width: 100%; margin-bottom: 35px; }
  .blog-detail.style-two .comment-area, 
  .blog-detail.style-two .comment-form {padding: 0px ; margin:0 }
  .services-tabs .nav.nav-tabs {top: 1588px;}
  .services-tabs .nav-tabs > li > a {padding: 12px 20px; margin-bottom: 15px;}
  .faqs .faq-block .list-faq li{width: 100%;}
  .sponsor-video-sec .right-content-area .img-wrapper .icon-area{width: 500px;}
  .page-title h1{font-size: 35px;padding-bottom: 8px;line-height: 40px;}
  .vidoe-form-sec .left-content-area .img-wrapper{margin-left: 0;}
  .about-sec.style-four .right-text-are {padding: 0 0px;}
  .about-sec.style-four .about-content .about-list li::before{left: 12px;}
  .about-sec.style-five .left-content-area .about-services{padding-right: 0px;}
  .comment-details{    padding-left: 0;}

  .about-sec{padding: 80px 0}
  .services-sec{padding: 76px 0 53px;}
  .our-project{padding: 74px 0 39px;}
  .about-fact-sec{padding: 30px 0 50px;}
  .testimonials-sec{padding: 71px 0 82px;}
  .pricetable-sec{padding: 73px 0 51px;}
  .blog-news{padding: 76px 0 49px;}
  .factcounter-area{padding: 69px 0 0px;}
  .factcounter-area .right-content-area{padding-top: 33px;}
  .sponsor-sec{padding: 80px 0 78px;}
  .services-sec.style-two {padding: 45px 0 43px;}
  .about-sec.style-two {padding: 78px 0;}
  .our-project.style-two {padding: 73px 0 9px;}
  .our-project.style-two .sec-title{padding-bottom: 0;}
  .vidoe-form-sec {padding: 30px 0 65px;}
  .get-services{padding: 67px 0 81px;}
  .team-area {padding: 73px 0 43px;}
  .about-sec.style-three{padding: 63px 0 65px;}
  .blog-news.style-two {padding: 74px 0 52px;}
  .services-sec.style-three{padding: 70px 0 53px;}
  .about-sec.style-five {padding: 75px 0 54px;}
  .services-sec.style-four {padding: 75px 0 80px;}
  .clinet-area{padding: 43px 0 0;}
  .our-project.style-three.pdt {padding: 74px 0 80px;}
  .team-area.style-two {padding: 72px 0 12px;}
  .sponsor-video-sec{padding: 70px 0 79px;}
  .sponsor-video-sec .right-content-area{padding-top: 40px;margin-top: 0px;}
  .pricetable-sec.style-two{padding: 76px 0 52px;}
  .blog-news.style-three{padding: 73px 0 49px;}
  .about-sec.style-four {padding: 75px 0 80px;}
  .pbt-80 {padding: 74px 0 80px !important;}
  .pbt {padding: 95px 0 100px !important;}
  .pdbt {padding: 75px 0 51px !important;}
  .project-detail{padding: 80px 0 30px;}
  .our-project.more-project {padding: 22px 0 80px;}
  .about-project{padding: 65px 0 66px;}
  .team-area.style-two.pdtp {padding: 73px 0 9px;}
  .team-area.style-three {padding: 80px 0 50px;}
  .team-details{padding: 80px 0 64px;}
  .services-fact{padding: 67px 0 56px;}
  .login-services{padding: 72px 0 51px;}
  .service-form{padding: 69px 0 81px;}
  .testimonials-sec.style-two{padding: 70px 0 83px;}
  .fact-sec .right-content-area{padding-top: 31px;}
  .faqs{padding: 72px 0 79px;}
  .error-page{padding: 80px 0;}
  .ptb-140{padding: 78px 0 74px !important;}
  .blog-detail{padding: 80px 0 74px;}
  .blog-detail.style-three {padding: 80px 0 80px;}
  .contact-page{padding: 80px 0 65px;}
  .account-popup{width: 400px;padding: 40px 15px;margin-left: -204px;}
  .btn-app {text-align: center;}
  .clinet-area{margin: 0;}
  .clinet-carousal{padding: 30px 20px;}
  .sponsor-video-sec .right-content-area .img-wrapper .icon-area a{width: 60px; height: 60px;}
  .sponsor-video-sec .right-content-area .img-wrapper .icon-area a i::before{font-size: 30px; line-height: 62px;}
  .testmonial-block{padding-left: 0px;}
  body, p{line-height: 26px;}
  .pt-140 {padding: 80px 0 44px !important;}
  .about-project .list-project li{padding-bottom: 12px;}
  .about-project .list-project li::before{top: 6px;}
  .thm-btn{padding: 6px 20px;font-size: 15px;}
  .account-popup > p{    padding: 0 15px;}
  .blog-news .blog-block .text-area p{line-height: 26px;}
  .blog-detail .tex-holder h5{line-height: 26px;}
  .blog-detail p{line-height: 26px;}
  .header-area.style-two .header-contact-info ul li{margin-left: 23px;}
  .about-fact-sec .right-content-area .sec-title p{line-height: 26px;}
  .team-details .text-block p {line-height: 26px;}
  .team-details .text-block, .team-details .text-blocks{margin-bottom: 9px;}
  .team-details .form-sec{padding-top: 40px;}
  .about-fact-sec .right-content-area{padding: 0;}
  .header-area.style-two .header-contact-info ul li:nth-child(3):before {display: none;}
  .animtion-box-8{left: 21px;}
  .animtion-box-9{right: -52px;}
  .animtion-box-11{top: 403px;}
  .animtion-box-12{bottom: -9px; right: -40px;}
  .services-tabs .right-content-area .sec-title {margin-bottom: 65px;}
  .about-sec.style-four .about-content .about-list li{margin-left: 20px;}
  .our-project.style-two .post-filter li{margin: 0 10px 10px;}
  .classic-slider h1 {font-size: 40px; line-height: 43px; margin-top: 6px;}
  .classic-slider .text {margin-top: -4px;}
  .about-sec.style-four .right-text-are {margin-top: 25px;}
  .contact-page .contact-block{padding: 40px 30px;}
  .contact--form-area .form-sec {margin: 0 0px 0 16px;}
}


@media only screen and (min-width: 319px) and (max-width: 470px){
  .main-slider h1 {font-size: 25px; line-height: 31px; margin-top: 0px; margin-left: 5px;}
  .main-slider a {margin-top: 47px !important; margin-left: 5px !important;}
  .main-slider .text {margin-top: 16px; margin-left: 5px;line-height: 27px;}
  .mainmenu-area{padding: 15px 0;}
  .classic-slider h1 {font-size: 27px; line-height: 35px; margin-top: 6px;}
  .classic-slider .text {margin-top: 0;}
  .classic-slider .btn-slider {margin-top: 16px !important;}
  .search-box-area {right: 8px; top: 19px;}
  .sec-title h2, h2 {font-size: 24px; line-height: 35px;}
  .services-sec .service-bloc{padding: 30px 20px;}
  .about-fact-sec .left-content-area .img-wrapper {
    width: 280px;
    height: 300px;
    -webkit-mask-size: 280px 300px;
    mask-size: 280px 300px;
  }
  .blog-news .blog-block .text-area {padding: 15px;}
  .author-content li {margin-right: 4px;} 
  .author-content li::before {left: -7px;}
  .calltoaction-sec{text-align: center;}
  .calltoaction-sec a {margin-top: 15px; float: none; text-align: center; width: 100%;}
  .header-contact-info ul li {padding-left: 40px; margin: 15px 0 15px 12px; padding-right: 0;}
  .our-project.style-two .project-content .item .overlay{padding: 9px 5px;height: 75px;}
  .vidoe-form-sec .left-content-area .img-wrapper {
    width: 290px;
    height: 340px;
    -webkit-mask-size: 290px 340px;
    mask-size: 290px 340px;
  }
  .top-bar-area .right-side {float: left;}
  .vidoe-form-sec .left-content-area .img-wrapper .icon-area {left: 16%; top: 27%; } 
  .modren-slider h1 {margin-top: 13px !important;}
  .about-sec.style-four .left-content-area .about-services{padding-right: 0px;}
  .services-sec.style-four .service-bloc {padding: 30px 20px;}
  .clinet-carousal .item figure {float: none;}
  .clinet-carousal .slide-block p {margin-left: 0; padding: 15px 0 20px;}
  .team-area.style-two .team-block .img-wrapper {margin-left: 15%;}
  .team-area.style-two .team-block{margin-top: 25px;}
  .sponsor-video-sec .right-content-area .img-wrapper {padding: 40px 0;}
  .content-area .img-wrapper .icon-area {width: 310px;}
  .sponsor-video-sec .right-content-area .img-wrapper .icon-area h3 {font-size: 20px;}
  .page-title {padding: 110px 0 120px;overflow: hidden;}
  .team-area.style-three .team-block .text-block {display: block; float: left;padding: 15px 0px;}
  .single-footer-widget .recent-post-footer .text-area li{margin-right: 0px;}
  .header-area.style-two .header-contact-info ul li:nth-child(2)::before{display: none;}
  .blog-detail .tex-holder .left-content-area {padding-right: 0; width: 100%; margin-bottom: 35px; }
  .blog-detail .author-content li{margin-right: 12px;}
  .comment{padding-top:0;padding-left:0;}
  .comment-avatar {position: relative; left: 0; overflow: hidden; margin-bottom: 25px}
  .services-tabs .nav.nav-tabs {top: 1321px; }
  .services-tabs .right-content-area .sec-title {margin-bottom: 94px;}
  .sponsor-video-sec .right-content-area .img-wrapper .icon-area {width: 320px;}
  .animtion-box, .animtion-box-1, .animtion-box-2, .animtion-box-3, .animtion-box-4{display: none;}
  .mainmenu-area .logo{margin-bottom: 0px;}
  h3 {font-size: 23px; line-height: 30px;}
  h5 {font-size: 17px; line-height: 20px;}
  .animtion-box-17 {left: 168px; top: 0;}
  .animtion-box-22{top: 52px; right: -8px;}
  .animtion-box-19{right: 49px;}
  .animtion-box-20{right: -2px;}
  .animtion-box-15{top: 31px;left: 96px;}
  .account-popup{width: 310px;padding: 40px 15px;margin-left: -155px;}
  .right-content-area .factcounter .single-item h5 {font-size: 16px;}
  .animtion-box-16{top: 197px; left: 14px;}
  .animtion-box-13{top: -31px;}
  .animtion-box-21{top: 198px;right: 11px;}
  .animtion-box-18{bottom: -85px;}
  .testimonials-slider .bx-wrapper .bx-controls-direction {margin-left: -225px;}
  .animtion-box-8{left: 0;}
  .testimonials-slider h2 br, .sec-title h2 br, h2 br {display: none;}
}