.sb2-2 {
    min-height: 94vh;
}

.sb2-1, .sb2-13, .sb2-13 > ul {
    height: 100%;
}

.logo img {
    width: 120px;
}

/* == Content Editor == */
.new-section-wrapper {
    text-align: center;
}

.new-section-wrapper .icon {
    margin-bottom: 15px;
}

.new-section-wrapper .icon i {
    font-size: 32px;
    line-height: 42px;

}

.content-editor .tab-inn:first-child {
    margin: 0;
}

.content-editor .box-inn-sp {
    margin-bottom: 10px;
}

.content-editor .tab-inn {
    margin-top: 10px;
    border-bottom: 1px solid #EFEFEF;
}

.category-list ul {
    margin: 0;
    padding: 0;
}

.category-list ul li {
}

.category-list li ul {
    margin-left: 30px;
}

.btn {
    font-size: 13px;
    font-weight: normal;
    line-height: 12px;
    height: auto;
    padding: 8px 12px;
    text-transform: none;
}

.btn-large {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    height: auto;
    padding: 8px 12px;
    text-transform: capitalize;
}

.modal {
    bottom: unset;
    background: transparent;

}

.modal .modal-content {
    border: none;
}

[type="checkbox"] + label {
    padding-right: 28px;
}

[type="checkbox"] + label {
    font-size: 1rem;
    line-height: 30px;
    position: relative;
    display: inline-block;
    height: 30px;
    padding-left: 30px;
    cursor: pointer;
}

[type="checkbox"].filled-in:checked + label:before, [type="checkbox"].filled-in:not(:checked) + label:after, [type="checkbox"].filled-in:checked + label:after {
    top: 4px;
}

[type="checkbox"].filled-in:not(:checked) + label:before {
    top: 10px;
}

